* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.title{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(img/title.png);
    background-size: cover;
    background-position: center;
    

}
.title h1{
    color: cornsilk;
    font-family: 'Poppins', cursive;
    font-size: 6em;
    text-transform: uppercase;
}

.title h3 {
    color:rgb(255, 236, 184)
}

/* pan Section */
.container {
    /* height: ; */
    background-color: lightblue;
}



section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-basis: 50%; */
    flex-direction: row;
    background-color: rgb(255, 236, 184);
    padding: 50px;
}
.pan-textbox{
    padding: 0 20px;
    width: 60%;
}
.pan-textbox h2 {
    color: #644AFF;
    font-size: 18vw;
    font-weight: 800;
    letter-spacing: .5px;
    /* line-height: ; */
    text-transform: uppercase;
    vertical-align: top;
    font-family: 'Big Shoulders Display', cursive;

    /* margin-bottom: ; */
}

.pan-textbox h3 {
    color: #FF5F72;
    font-size: 1.4rem;
    font-weight: 700;
    /* letter-spacing: ; */
    /* line-height: ; */
    text-transform: uppercase ;
    /* margin-bottom: ; */
}

.pan-textbox p {
    color: #FF5F72;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5;
    /* text-transform: ;
    margin-bottom: ; */
}


.pan-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  40%;
    /* flex-basis: ; */
    /* border: 2px solid green; */
}

.pan-image-box img {
    width: 100%;
    min-width: 250px;
    animation: hover 3s infinite;
}

@keyframes hover {
    0%{transform: translateY(0);}
    50%{transform: translateY(2%);}
    100%{transform: translateY(0);}
}

.reverse{
    flex-direction: row-reverse;
} 
.reverse .pan-image-box img{
    animation-delay: -1.5s;

}
.churro{
    background-color: #FF698D;
}
.churro h2{
    color: #F9AEFF;
}
.churro h3{
    color: #70FFF6;
}
.churro p{
    color: #70FFF6;
}

.galleta {
    background-color: #E9B121;
}
.galleta h2{
    color: #FF5F72;
}
.galleta h3{
    color: #644AFF;
}
.galleta p{
    color: #644AFF;
}

@media screen and (max-width: 800px) {
    .title{
        background-image: url(img/titlerotated.png);
    }
    section {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .reverse{
        flex-direction: column;
    }
    .pan-image-box,.pan-textbox{
        width: 80%;
    }
    .pan-textbox{padding:20px 0;}
}